/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries

/* #Site Styles
================================================== */

body {
	background: url(../images/tweed.png) #232323;
} 


/* #Page Styles
================================================== */

/*header and links section frames styling*/
.band {
	margin: 2rem 0;
}
.frame {
	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	background: url(../images/ricepaper2custom.png) #fffff3;
	
}

.cd-header, .cd-links {
	margin: 1rem;
	
}

.rakka-header, .rakka-links {
	margin: 1rem;
}

/*main section*/

.cd-img img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 240px;
}

.rakka-img img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	min-height: 240px;
}


/* links section styling */

.cd-links, .rakka-links {
	text-align: left;
	padding: 7px;
}

/* projects section styling */
.projects {
	padding: 7px;
	margin: 14px 0;
}

/* #Media Queries
================================================== */
/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 3rem; }
  
