/* --------- REBOOT OF CDRAKKA ----------*/

/* Shared -- */
body {
  background: url(../images/tweed.png) #232323;
} 

.button {
  border-radius: 100px;
}

.frame {
  border: 14px solid #bcbcbc;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
  background: url(../images/ricepaper2custom.png) #fffff3;
  text-align: center;
  margin: 2% 0;
}

@media (max-width: 400px) {
  .band.header, .band.pics, .band.links, .band.cdrakka, .band.projects {
    display: none;
  }
  .hidey-heart img {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: auto;
  }
}

@media (min-width: 401px) and (max-width: 650px) {

  .hidey-heart, .band.header, .band.pics, .band.links {
    display: none;
  }

  .band.cdrakka {
    display: block;
    margin: 3% 0 0;
  }

  .cdrakka-header {
    padding: 1rem;
    text-align: center;
    margin-bottom: initial;
  }

  .cdrakka img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .cdrakka-links {
    padding: 1rem;
    text-align: left;
  }

  /* projects 
  -- */
  .band.projects {
    display: block;
    margin: 0 0 2%;

  }
  .projects-description {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

  /* cdrakka special image for > 400, < 650 */


  /* Bigger than 650 */
@media (min-width: 651px) {
  .band.cdrakka, .band.cdrakka-links, .cdrakka-header, .hidey-heart {
    display: none;
  }
  .band.header, .band.pics, .band.links {
    display: block;
  }
  .header {
    margin: 3% 0 0;
  }
  .cd-header, .rakka-header {
    margin: 1rem;
    text-align: center;
  }

  .frame {
    margin: 1% 0;
  }
  .frame + .frame {
    float: right;
  }
  .cd-img img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 195px;
    min-height: 195px;
    max-width: 100%;
  }

  .rakka-img img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-height: 195px;
    max-width: 100%;
    }

  .cd-links, .rakka-links {
    display: block;
    max-width: 100%;
    padding: 1rem;
    text-align: left;
    height: auto;
  }
   /* projects 
  -- */
  .band.projects {
    display: block;
    margin: 0 0 2%;
  }
  .projects-description {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}