/* --------- REBOOT OF CDRAKKA ----------*/

/* Shared -- */
body {
  background: url(../images/tweed.png) #232323;
} 

.button {
  border-radius: 100px;
}

.band {
  margin: 2rem 0;
}

.frame {
  border: 14px solid #bcbcbc;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
  background: url(../images/ricepaper2custom.png) #fffff3;
  text-align: center;
}

/* header -- */
.cd-header, .rakka-header {
  margin: 1rem;
  text-align: center;
}

/* pics -- */
.cd-img img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 240px;
}

.rakka-img img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-height: 240px;
}


/* links -- */
.cd-links, .rakka-links {
  margin: 1rem;
  text-align: left;
}

/* projects 
NOTE TO SELF - make it so when the scren is below a certain width it replaces the separate
cd and rakka boxes adn images into one cdrakka box with the bear sloth hug image. 

also, adjust other settings for tablet and mobile devices so spacing works.
 
Add projects boxes to projects area. Maybe have mouseover effects. 

-- */

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}