/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato|Lora:700);

/* body {
	font-family: "Helvetica Neue", "Lato", Helvetica, sans-serif;
} */

/*h1, h2, h3, h4, h5, h6 {
	font-family: "Lora", "Times New Roman", serif;
}*/


/* #Page Styles
================================================== */
/* border box reset 
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}*/

/* setting sticky footer */
html, body {
	background: url(../images/tweed.png);
	height: 100%;
}

/*#footwrap {
	min-height: 100%;	
}*/

.main-content {
	overflow: auto;
	padding-bottom: 42px;
}

/*.footer {
	position: relative;
	margin-top: -42px;
	height: 42px;
	clear: both;
}*/

/*header and links section frames styling*/
.band.header, .band.links {
	margin: 7px 0;
}
.cd-header, .rakka-header, .cd-links, .rakka-links {
	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	background: url(../images/ricepaper2custom.png) #fffff3;
	margin: 14px 0;
	text-align: center;
}

.cd-header, .cd-links {
	margin-right: 14px;
}

.rakka-header, .rakka-links {
	margin-left: 14px;
}



/*
.spacer {
	visibility: hidden;
} */

/*main section*/
.band.main-content {
	margin: 7px 0;
}

.cdrakka {
	margin: 7px 0;
}

#cd img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
    /*min-height: 100%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rakka img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	min-height: 240px;
}

.main-content.container > div {
	margin: 14px 0;
}

.main-content.target {
	display: none;
}

section#cd {
	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	padding: 7px;
	margin-right: 14px;
	margin-bottom: 14px;
	margin-top: 14px;
	background: url(../images/ricepaper2custom.png) #fffff3;
}

/*
section#cdrakka {
	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	padding: 7px;
	margin-top: 14px;
	margin-bottom: 14px;
	text-align: center;
	min-width: 135px;
	background: #fffff3;
} */



section#rakka {
	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	padding: 7px;
	margin-left: 14px;
	margin-top: 14px;
	margin-bottom: 14px;
	background: url(../images/ricepaper2custom.png) #fffff3;
    min-height: 100%;
}

/*
#project1, #project2, #project3 {
	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	margin-top: 14px;
	margin-bottom: 14px;
}
*/

/* links section styling */

.cd-links, .rakka-links {
	text-align: left;
	padding: 7px;
}

/* projects section styling */
.band.projects {
	margin: 7px;
}
.projects section {
	padding: 7px;
	margin: 14px 0;
	background: url(../images/ricepaper2custom.png) #fffff3;
} 

#project1 {
   	border: 14px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.68); 
}

.band.footer {
	background-color: #cdcdcd;
}

.footer footer {
	margin: 0 14px;
}

.footer footer p {
	margin: 14px 0;
}

/*
.footer footer p {
	margin: 14px;
} */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.cd-header, .rakka-header, section#cd, section#rakka, #project1 {
			margin: 14px 0;
		}

		/*.one-third.column.spacer {
			display: none;
		}*/
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

